{% extends "base.html" %}
{% block content %}
  <section class="image-gallery flex flex-col gap-8">
    <div>
      {% include "portfolio/_breadcrumb.html" %}
      <h1>{{ page_title }}</h1>
    </div>
    <div class="flex flex-row flex-wrap gap-8">
      {% for piece in pieces %}
        <figure class="image-gallery__item">
          <a href="{{ piece.gallery_image.url }}" target="_blank"><img class="h-64 w-auto" src="{{ piece.gallery_image.url }}" alt="{{ piece.title }}"></a>
        </figure>
      {% empty %}
        <p class="paragraph">Nothing here yet.</p>
      {% endfor %}
    </div>
  </section>
{% endblock %}
