{% extends "base.html" %}
{% block content %}
<section class="storyboards">
  <header class="mb-8">
    <h1><a href="{% url 'storyboard_gallery' %}">Storyboards</a></h1>
    <p class="uppercase font-light">{{ category.name }}</p>
  </header>
  <ul class="storyboards__grid flex flex-wrap gap-4 mt-8 justify-center md:justify-start">
    {% for storyboard in storyboards %}
      <li class="storyboards__cell max-w-xs w-full">
        <a class="block text-center" href="{% url 'storyboard_detail' storyboard.slug %}">
          {% if storyboard.grid_thumbnail_url %}
            <img class="w-full aspect-[3/2] object-cover" src="{{ storyboard.grid_thumbnail_url }}" alt="{{ storyboard.title }}">
          {% endif %}
          <span class="block font-light text-lg uppercase my-2">{{ storyboard.title }}</span>
        </a>
      </li>
    {% empty %}
      <p class="paragraph">Nothing here yet.</p>
    {% endfor %}
  </ul>
</section>
{% endblock %}
