{% extends "base.html" %}
{% block content %}
  <section class="storyboards">
    {% include "portfolio/_breadcrumb.html" %}
    <h1 class="text-center md:text-left">{{ category.name }}</h1>
    <div class="space-y-16">
      <section class="storyboards__category mt-8">
        <ul class="storyboards__grid flex flex-wrap gap-8 mt-8 justify-center md:justify-start">
          {% for storyboard in storyboards %}
            {% include "portfolio/_storyboard_entry.html" with storyboard=storyboard %}
          {% empty %}
            <p class="paragraph">Nothing here yet.</p>
          {% endfor %}
        </ul>
      </section>
    </div>
  </section>
{% endblock %}
