{% extends "base.html" %}
{% block content %}
<section class="storyboards">
  <h1 class="text-center md:text-left">
    <a href="{% url 'storyboard_gallery' %}" class="block mb-1 text-base font-light md:inline md:mb-0 md:text-4xl md:font-bold">Storyboards</a><span class="hidden md:inline mx-4 font-thin">/</span>{{ category.name }}
  </h1>
  <div class="space-y-16">
    <section class="storyboards__category mt-8">
      <ul class="storyboards__grid flex flex-wrap gap-4 mt-8 justify-center md:justify-start">
        {% for storyboard in storyboards %}
          <li class="storyboards__cell max-w-xs w-full">
            <a class="block text-center" href="{% url 'storyboard_detail' storyboard.slug %}">
              {% if storyboard.grid_thumbnail_url %}
                <img class="w-full aspect-[3/2] object-cover" src="{{ storyboard.grid_thumbnail_url }}" alt="{{ storyboard.title }}">
              {% endif %}
              <span class="block font-light text-lg uppercase my-2">{{ storyboard.title }}</span>
            </a>
          </li>
        {% empty %}
          <p class="paragraph">Nothing here yet.</p>
        {% endfor %}
      </ul>
    </section>
  </div>
</section>
{% endblock %}
