@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply font-body;
	}
	h1 {
		@apply text-4xl font-bold font-display uppercase;
	}
	h2 {
		@apply text-2xl font-bold font-display uppercase;
	}
	pre {
		@apply my-8 p-8 bg-black bg-opacity-25 whitespace-pre-wrap;
	}
	.page a {
		@apply text-white text-opacity-80 hover:text-opacity-100;
	}
	ul,
	ol {
		@apply mb-2;
	}
}

@keyframes progress {
	from {
		width: 0%;
	}
	to {
		width: 100%;
	}
}

@layer components {
	.site-title {
		@apply text-3xl md:text-5xl;
	}

	.site-nav {
		@apply uppercase font-light;
	}
	.site-nav a {
		@apply text-lg md:text-base text-white text-opacity-70 hover:text-opacity-100;
	}

	.sidebar-section h2 {
		@apply mb-2;
	}
	.paragraph {
		@apply leading-relaxed text-lg my-4;
	}

	.animate-progress {
		animation: progress 180s ease forwards 1;
	}
}
